<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<!-- 开启注解扫描 -->
	<context:component-scan base-package="nyist.e3.controller" />
	<!-- 加载fastdfs图片服务器的配置文件 -->
	<context:property-placeholder location="classpath:conf/*.properties" />

	<!-- 配置解析器和映射器 -->
	<mvc:annotation-driven />
	<!-- 因为web.xml中配置的url-pattern是 / 不是*.do，所以获拦截js文件和css文件 ,添加映射标签 -->
	<!-- <mvc:resources location="/css/" mapping="/css/**"></mvc:resources> 
		<mvc:resources location="/js/" mapping="/js/**"></mvc:resources> <mvc:resources 
		location="/images/" mapping="/images/**"></mvc:resources> -->
	<!-- 配置视图解析器 -->
	<!-- 配置拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 拦截所有请求 -->
			<mvc:mapping path="/**" />
			<!-- 注册自定义拦截器 -->
			<bean class="nyist.e3.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>



	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<!-- 作为客户端：引用dubbo服务 -->
	<!-- 第一步：配置调用服务的应用的名称 -->
	<dubbo:application name="e3-shopcart-web" />
	<!-- 第二步：配置注册中心 -->
	<dubbo:registry address="192.168.25.133:2181" protocol="zookeeper"></dubbo:registry>
	<!-- 引用具体提供的服务接口 -->
	<!-- <dubbo:reference interface="nyist.e3.service.TokenService" id="tokenService"></dubbo:reference> -->
	<dubbo:reference interface="nyist.e3.service.TbItemService"
		id="tbItemService"></dubbo:reference>

	<dubbo:reference interface="nyist.e3.shopcart.service.ShopCartService"
		id="shopCartService"></dubbo:reference>
	<dubbo:reference interface="nyist.e3.service.TokenService"
		id="tokenService"></dubbo:reference>


</beans>