<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web_session_cookie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LastAccessTime</display-name>
    <servlet-name>LastAccessTime</servlet-name>
    <servlet-class>nyist.web.cookie.showtime.LastAccessTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastAccessTime</servlet-name>
    <url-pattern>/lasttime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendCookie</display-name>
    <servlet-name>SendCookie</servlet-name>
    <servlet-class>nyist.web.cookie.sendcookie.SendCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCookie</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCookie</display-name>
    <servlet-name>RemoveCookie</servlet-name>
    <servlet-class>nyist.web.cookie.removecookie.RemoveCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCookie</servlet-name>
    <url-pattern>/remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkImgServlet</servlet-name>
    <servlet-class>nyist.web.cookie.checkimg.checkImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkImgServlet</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>nyist.web.cookie.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>nyist.web.session.getsession.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet1</display-name>
    <servlet-name>SessionServlet1</servlet-name>
    <servlet-class>nyist.web.session.getsession.SessionServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet1</servlet-name>
    <url-pattern>/session1</url-pattern>
  </servlet-mapping>
</web-app>